::ng-deep .content {
  overflow: hidden;
}

:host {
  .table-container {
    overflow-x: auto;
  }
  table {
    margin: 32px;
    th {
      font-size: 12px;
      line-height: 13px;
    }

    td {
      white-space: nowrap;
    }
  }
}
