<h1>
  Company <b>{{ company?.name }}</b> settings
</h1>

<form (ngSubmit)="submit()">
  <mat-form-field *ngIf="form.controls.name as control">
    <mat-label>Company Name</mat-label>
    <input type="text" matInput [formControl]="control" />
    <mat-error *ngIf="control.hasError('required')"
      >Please let us know your company name</mat-error
    >
  </mat-form-field>

  <mat-form-field *ngIf="form.controls.employees_number as control">
    <mat-label>Employees Number</mat-label>
    <input type="text" matInput [formControl]="control" />
    <mat-error *ngIf="control.hasError('required')"
      >Please let us know your company employees number</mat-error
    >
  </mat-form-field>

  <mat-form-field *ngIf="form.controls.website as control">
    <mat-label>Website</mat-label>
    <input type="tel" matInput [formControl]="control" />
    <mat-error *ngIf="control.hasError('required')"
      >Please let us know your company website</mat-error
    >
  </mat-form-field>

  <mat-form-field *ngIf="form.controls.currencies as control">
    <mat-label>Currencies</mat-label>
    <mat-select [formControl]="control" multiple>
      <mat-option *ngFor="let currency of currencies" [value]="currency">{{
        currency
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="control.hasError('required')"
      >Minimum one currency is required</mat-error
    >
  </mat-form-field>

  <button type="submit" mat-flat-button color="primary" [disabled]="loading">
    Save
  </button>
</form>
