<mat-form-field
  subscriptSizing="dynamic"
  class="company-select"
  *ngIf="companyService.selectedCompany"
>
  <mat-label>Company</mat-label>
  <mat-select
    #select
    [ngModel]="companyService.selectedCompany.id"
    (ngModelChange)="companyService.selectCompanyById(select.value)"
  >
    <mat-option
      [value]="company.id"
      *ngFor="let company of companyService.companies"
      >{{ company.name }}</mat-option
    >
  </mat-select>
</mat-form-field>
<img
  [matMenuTriggerFor]="matMenu"
  [src]="auth.auth0User?.picture"
  alt
  class="user-picture"
/>
<mat-menu #matMenu="matMenu">
  <button mat-menu-item (click)="auth.logout()">Logout</button>
</mat-menu>
