<div class="sidenav">
  <a
    matRipple
    routerLink="/dashboard"
    class="sidenav__item"
    routerLinkActive="active"
    >Dashboard</a
  >
  <a
    matRipple
    *ngFor="let link of links"
    [routerLink]="link.link"
    class="sidenav__item"
    routerLinkActive="active"
    >{{ link.name }}</a
  >

  <mat-expansion-panel
    class="sidenav__group"
    #adminGroup
    *ngIf="invoicesContainer.length > 0"
  >
    <mat-expansion-panel-header matRipple>Invoices</mat-expansion-panel-header>
    <div class="sidenav__group__inner">
      <a
        matRipple
        *ngFor="let link of invoicesContainer"
        [routerLink]="link.link"
        class="sidenav__item"
        routerLinkActive="active"
        >{{ link.name }}</a
      >
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel
    class="sidenav__group"
    #adminGroup
    *ngIf="adminContainer.length > 0"
  >
    <mat-expansion-panel-header matRipple>Admin</mat-expansion-panel-header>
    <div class="sidenav__group__inner">
      <a
        matRipple
        *ngFor="let link of adminContainer"
        [routerLink]="link.link"
        class="sidenav__item"
        routerLinkActive="active"
        >{{ link.name }}</a
      >
    </div>
  </mat-expansion-panel>
</div>
