<div class="sidenav">
  <a
    matRipple
    routerLink="/dashboard"
    class="sidenav__item"
    routerLinkActive="active"
    >Dashboard</a
  >
  <a
    matRipple
    *ngFor="let link of links"
    [routerLink]="link.link"
    class="sidenav__item"
    routerLinkActive="active"
    >{{ link.name }}</a
  >

  <ng-template
    [ngTemplateOutlet]="sidenavGroup"
    [ngTemplateOutletContext]="{
      container: invoicesContainer,
      title: 'Invoices'
    }"
  ></ng-template>

  <ng-template
    [ngTemplateOutlet]="sidenavGroup"
    [ngTemplateOutletContext]="{
      container: adminContainer,
      title: 'Admin'
    }"
  ></ng-template>

  <ng-template
    [ngTemplateOutlet]="sidenavGroup"
    [ngTemplateOutletContext]="{
      container: superAdminContainer,
      title: 'Super Admin'
    }"
  ></ng-template>
</div>

<ng-template #sidenavGroup let-container="container" let-title="title">
  <mat-expansion-panel
    class="sidenav__group"
    #adminGroup
    *ngIf="container.length > 0"
  >
    <mat-expansion-panel-header matRipple>{{
      title
    }}</mat-expansion-panel-header>
    <div class="sidenav__group__inner">
      <a
        matRipple
        *ngFor="let link of container"
        [routerLink]="link.link"
        class="sidenav__item"
        routerLinkActive="active"
        >{{ link.name }}</a
      >
    </div>
  </mat-expansion-panel>
</ng-template>
