<app-edit-form #editFormComponent (submit$)="submit()" formTitle="Create Bank">
  <mat-form-field *ngIf="form.controls.id as control" subscriptSizing="dynamic">
    <mat-label>Name</mat-label>
    <input type="text" matInput [formControl]="control" readonly />
  </mat-form-field>

  <mat-form-field *ngIf="form.controls.rate as control">
    <mat-label>Course</mat-label>
    <input matInput [formControl]="control" type="number" min="0" />
    <mat-error *ngIf="control.hasError('required')"
      >This field is <b>required</b></mat-error
    >
  </mat-form-field>
</app-edit-form>
