:host {
  display: block;
  padding: 24px 48px 0;

  .table {
    margin-top: 24px;

    td.table__actions {
      white-space: nowrap;

      > * {
        &:not(:last-child) {
          margin-right: 14px;
        }
      }
    }

    th.table__actions {
      width: 0;
    }
  }

  .top-actions {
    display: flex;
    align-items: center;
  }

  .search-field {
    min-width: 400px;
  }

  .sort-field {
    margin-left: 24px;
  }

  .create-action {
    margin-left: auto;
  }

  .export-btn {
    float: right;
    margin: {
      top: 16px
    };
  }
}
