<app-auth-form title="Company Information" (submit$)="submit()" #authForm>
  <mat-form-field
    *ngIf="form.controls.name as control"
    subscriptSizing="dynamic"
  >
    <mat-label>Company Name</mat-label>
    <input type="text" matInput [formControl]="control" />
    <mat-error *ngIf="control.hasError('required')"
      >Please let us know your company name</mat-error
    >
  </mat-form-field>

  <mat-form-field
    *ngIf="form.controls.employees_number as control"
    subscriptSizing="dynamic"
  >
    <mat-label>Employees Number</mat-label>
    <input type="text" matInput [formControl]="control" />
    <mat-error *ngIf="control.hasError('required')"
      >Please let us know your company employees number</mat-error
    >
  </mat-form-field>

  <mat-form-field
    *ngIf="form.controls.website as control"
    subscriptSizing="dynamic"
  >
    <mat-label>Website</mat-label>
    <input type="tel" matInput [formControl]="control" />
    <mat-error *ngIf="control.hasError('required')"
      >Please let us know your company website</mat-error
    >
  </mat-form-field>
</app-auth-form>
