<mat-form-field *ngIf="formGroup.controls.bank_template as control">
  <mat-label>Bank</mat-label>
  <mat-select
    [formControl]="control"
    panelClass="customers-bank-collection-panel"
    #matSelect
  >
    <mat-select-trigger>
      {{ control.value.name }}
    </mat-select-trigger>
    <mat-option>
      <ngx-mat-select-search
        [formControl]="bankFilterControl"
        placeholderLabel="Search"
      ></ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let bank of banksFiltered | async" [value]="bank">
      <div class="bank">
        <div class="bank__name">
          {{ bank.name }}
        </div>
        <div class="bank__underline">
          {{ bank.bic }} / {{ bank.city }} / {{ bank.address }}
        </div>
      </div>
    </mat-option>
  </mat-select>
  <mat-error *ngIf="control.hasError('required')"
    >This field is <b>required</b></mat-error
  >
</mat-form-field>
<div class="row">
  <mat-form-field *ngIf="formGroup.controls.currency as control">
    <mat-label>Currency</mat-label>
    <mat-select [formControl]="control">
      <mat-option *ngFor="let currency of currencies" [value]="currency">
        {{ currency }}
      </mat-option>
      <mat-option
        *ngIf="control.value"
        [value]="control.value"
        style="display: none"
      >
        {{ control.value }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="control.hasError('required')"
      >This field is <b>required</b></mat-error
    >
  </mat-form-field>

  <mat-form-field *ngIf="formGroup.controls.name as control">
    <mat-label>Bank Name</mat-label>
    <input matInput [formControl]="control" />
    <mat-error *ngIf="control.hasError('required')"
      >This field is <b>required</b></mat-error
    >
  </mat-form-field>

  <mat-form-field *ngIf="formGroup.controls.code as control">
    <mat-label>Code</mat-label>
    <input matInput [formControl]="control" readonly />
    <mat-error *ngIf="control.hasError('required')"
      >This field is <b>required</b></mat-error
    >
  </mat-form-field>
</div>

<mat-form-field *ngIf="formGroup.controls.iban as control">
  <mat-label>IBAN</mat-label>
  <input matInput [formControl]="control" />
  <mat-error *ngIf="control.hasError('required')"
    >This field is <b>required</b></mat-error
  >
</mat-form-field>

<mat-form-field *ngIf="formGroup.controls.bic as control">
  <mat-label>BIC / SWIFT</mat-label>
  <input matInput [formControl]="control" readonly />
  <mat-error *ngIf="control.hasError('required')"
    >This field is <b>required</b></mat-error
  >
</mat-form-field>
