:host {
  .row {
    display: grid;
    grid: {
      template-columns: auto minmax(150px, 200px);
      column-gap: 12px;
    }

    & > .mdc-icon-button {
      margin-top: 4px;
    }

    & > .mdc-button {
      margin-top: 10px;
    }
  }

  .currency {
    display: grid;
    grid: {
      template-columns: 1fr 4.5fr;
      column-gap: 12px;
    }

    & > div:nth-child(2) {
      margin-top: 10px;
    }
  }
}
