<app-edit-form
  #editFormComponent
  (submit$)="submit()"
  formTitle="Create Order"
  submitTitle="Continue"
  [module]="module"
>
  <div class="row">
    <mat-form-field *ngIf="form.controls.customer_id as control">
      <mat-label>Customer name</mat-label>
      <mat-select [formControl]="control">
        <mat-option *ngFor="let customer of customers" [value]="customer.id">
          ({{ customer.internal_company_id }}) {{ customer.company_name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="control.hasError('required')"
        >This field is <b>required</b></mat-error
      >
    </mat-form-field>
    <button
      mat-flat-button
      [routerLink]="'/customers/create'"
      color="accent"
      type="button"
    >
      Create New
    </button>
  </div>

  <div class="row">
    <mat-form-field *ngIf="form.controls.vat_id as control">
      <mat-label>Customer VAT ID</mat-label>
      <input matInput [formControl]="control" readonly />
    </mat-form-field>
    <button mat-flat-button color="accent" type="button">Check VAT ID</button>
  </div>

  <mat-form-field *ngIf="form.controls.remark as control">
    <mat-label>Customer Remark</mat-label>
    <textarea matInput [formControl]="control" readonly> </textarea>
  </mat-form-field>

  <div class="currency">
    <mat-form-field *ngIf="form.controls.currency as control">
      <mat-select [formControl]="control">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="control.hasError('required')"
        >This field is <b>required</b></mat-error
      >
    </mat-form-field>
    <div>
      If you will use the Order Price under credit limit, you will be redirected
      to Admin Request form.*
    </div>
  </div>

  <mat-form-field *ngIf="form.controls.credit_limit as control">
    <mat-label>Credit limit</mat-label>
    <input min="0" type="number" matInput [formControl]="control" readonly />
    <mat-error *ngIf="control.hasError('required')"
      >This field is <b>required</b></mat-error
    >
  </mat-form-field>

  <mat-form-field *ngIf="form.controls.available_limit as control">
    <mat-label>Available limit</mat-label>
    <input min="0" type="number" matInput [formControl]="control" readonly />
    <mat-error *ngIf="control.hasError('required')"
      >This field is <b>required</b></mat-error
    >
  </mat-form-field>

  <mat-form-field *ngIf="form.controls.order_price as control">
    <mat-label>Order Price</mat-label>
    <input min="0" type="number" matInput [formControl]="control" />
    <mat-error *ngIf="control.hasError('required') || control.hasError('min')"
      >This field is <b>required</b></mat-error
    >
  </mat-form-field>

  <app-file-upload
    #fileUploadComponent
    label="Attach Order"
    (files$)="onFilesChange($event)"
  ></app-file-upload>
  <mat-error *ngIf="fileError">You must attach an order</mat-error>
</app-edit-form>
