@use '../../../../../styles/includes/mixins/raiting';

:host {
  .customers-edit-form {
    display: grid;
    grid: {
      template-columns: 600px auto;
      column-gap: 48px;
    }

    .left-block {
      height: fit-content;
      display: grid;
      grid: {
        template-columns: 100%;
      };
    }

    .right-block {
      height: fit-content;
      display: grid;
      max-width: 900px;
      grid: {
        template-columns: 100%;
      };
    }
  }

  .row {
    display: grid;
    grid: {
      template-columns: repeat(3, auto);
      column-gap: 12px;
    }

    &--actions {
      grid: {
        template-columns: 1fr repeat(2, auto);
        column-gap: 6px;
      };

      & > .mdc-icon-button {
        margin-top: 4px;
      }

      & > .mdc-button {
        margin-top: 10px;
      }
    }

    &--2 {
      grid: {
        template-columns: 1fr auto;
      }
    }
  }

  .grid {
    display: grid;
    grid: {
      template-columns: repeat(2, auto);
      column-gap: 12px;
      row-gap: 12px;
    }
  }

  .upload-files {
    min-height: 118px;
    max-height: 374px;
    overflow: auto;

    &.dragging {
      background: grey;
    }

    &__upload {
      display: block;
      margin-left: auto;
      width: fit-content;
      margin: {
        left: auto;
        top: 22px;
      };
    }

    &__file {
      width: 100%;
      display: flex;
      align-items: center;

      &__date {
        margin-left: auto;
      }
    }
  }

  .banking-details {
    &__add {
      display: block;
      margin-left: auto;
      margin-top: 60px;
    }
  }

  .inactive {
    opacity: .5;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
    }
  }

  .raiting {
    margin-top: 16px;

    mat-form-field {
      height: fit-content;
    }

    &__row {
      display: grid;
      grid: {
        template-columns: 1fr 3fr;
        column-gap: 12px;
      }
    }

    &__add {
      display: block;
      margin-left: auto;
    }

    &__table {
      &-wp {
        max-height: 350px;
        overflow-y: auto;
      }

      &__header {
        position: sticky;
        top: 0;
      }
    }

    &__element {
      @include raiting.raiting-element;
    }
  }

  textarea {
    min-height: 78px * 3 - 22px - 24px - 8px;
  }
}

::ng-deep {
  .raiting__panel {
    .raiting__element {
      @include raiting.raiting-element;
    }
  }
}
