@use 'src/styles/includes/colors';

:host {
  padding: 32px 55px 0;
  display: block;

  .edit-form {
    &:not(.disable-grid) {
      display: grid;
      grid: {
        row-gap: 16px;
      }
      border-radius: 5px;
      width: calc(100% - 40px);
      max-width: 480px;
    }

    position: relative;
    background: colors.$color-background;
    padding: 42px 0 78px;

    &__title {
    }

    .actions {
      margin-bottom: 6px;
      display: flex;
      justify-content: flex-end;

      ::ng-deep {
        button {
          min-width: 150px;

          &[type="submit"] {
            min-width: 340px;
          }
        }

        > *:not(:last-child) {
          margin-right: 16px;
        }
      }
    }

    &__progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-top: {
        left-radius: 5px;
        right-radius: 5px;
      }
    }
  }
}
