@use 'src/styles/includes/colors';

:host {
  padding: 32px 55px 0;
  display: block;

  .edit-form {
    &:not(.disable-grid) {
      display: grid;
      grid: {
        row-gap: 16px;
      }
      border-radius: 5px;
      width: calc(100% - 40px);
      max-width: 480px;
    }

    position: relative;
    background: colors.$color-background;
    padding: 42px 0 78px;

    &__title {
    }

    [type="submit"] {
      min-width: 220px;
      margin-left: auto;
      display: block;
      margin-bottom: 6px;
    }

    &__progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-top: {
        left-radius: 5px;
        right-radius: 5px;
      }
    }
  }
}
