<app-table
  #appTable
  [displayedColumns]="displayedColumns"
  [searchableColumns]="searchableColumns"
  [sortableColumns]="sortableColumns"
  [service]="service"
>
  <ng-container matColumnDef="internal_order_id">
    <th mat-header-cell *matHeaderCellDef>Order №</th>
    <td mat-cell *matCellDef="let element">
      {{ element.internal_order_id }}
    </td>
  </ng-container>

  <ng-container matColumnDef="customer">
    <th mat-header-cell *matHeaderCellDef>Customer Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.customer?.company_name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="delivery_date">
    <th mat-header-cell *matHeaderCellDef>Delivery Date</th>
    <td mat-cell *matCellDef="let element">23/06/2022 (???)</td>
  </ng-container>
  <ng-container matColumnDef="order_price">
    <th mat-header-cell *matHeaderCellDef>Order Value</th>
    <td mat-cell *matCellDef="let element">
      {{ element.order_price }}
    </td>
  </ng-container>
</app-table>
