<app-edit-form
  #editFormComponent
  (submit$)="submit()"
  formTitle="Edit Order"
  submitTitle="Save"
  [disableGrid]="true"
  [module]="module"
  [history]="item()?.history"
>
  <div class="order-edit-form">
    <div class="left-block">
      <div class="row">
        <mat-form-field *ngIf="form.controls.internal_order_id as control">
          <mat-label>Order number</mat-label>
          <input matInput [formControl]="control" readonly />
          <mat-error *ngIf="control.hasError('required')"
            >This field is <b>required</b></mat-error
          >
        </mat-form-field>
        <button color="primary" mat-icon-button type="button">
          <mat-icon fontIcon="file_copy"></mat-icon>
        </button>
      </div>

      <mat-form-field *ngIf="form.controls.status as control">
        <mat-label>Order Status</mat-label>
        <mat-select [formControl]="control">
          <mat-option
            *ngFor="let status of statusSelections()"
            [value]="status.id"
            [disabled]="status.disabled ?? false"
          >
            {{ status.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="control.hasError('required')"
          >This field is <b>required</b></mat-error
        >
      </mat-form-field>

      <div class="row row--equal">
        <mat-form-field *ngIf="form.controls.first_loading_date as control">
          <mat-label>First Loading Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker1"
            [formControl]="control"
            readonly
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field *ngIf="form.controls.last_uploading_date as control">
          <mat-label>Last Uploading Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker2"
            [formControl]="control"
            readonly
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>

      <mat-form-field *ngIf="form.controls.order_price as control">
        <mat-label>Price</mat-label>
        <input type="number" matInput [formControl]="control" />
      </mat-form-field>

      <mat-form-field *ngIf="form.controls.disponent_id as control">
        <mat-label>Disponent</mat-label>
        <mat-select [formControl]="control">
          <mat-option *ngFor="let user of users" [value]="user.id">
            {{ user.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="control.hasError('required')"
        >This field is <b>required</b></mat-error
        >
      </mat-form-field>

      <mat-form-field *ngIf="form.controls.delivery_responsible_id as control">
        <mat-label>Delivery Responsible(Verfolger)</mat-label>
        <mat-select [formControl]="control">
          <mat-option *ngFor="let user of users" [value]="user.id">
            {{ user.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="control.hasError('required')"
          >This field is <b>required</b></mat-error
        >
      </mat-form-field>

      <div class="row">
        <mat-form-field *ngIf="form.controls.truck_number as control">
          <mat-label>Truck Number</mat-label>
          <input matInput [formControl]="control" />
        </mat-form-field>
        <button color="primary" mat-icon-button type="button">
          <mat-icon fontIcon="file_copy"></mat-icon>
        </button>
      </div>

      <div class="row">
        <mat-form-field *ngIf="form.controls.trailer_number as control">
          <mat-label>Trailer Number</mat-label>
          <input matInput [formControl]="control" />
        </mat-form-field>
        <button color="primary" mat-icon-button type="button">
          <mat-icon fontIcon="file_copy"></mat-icon>
        </button>
      </div>

      <div class="row">
        <mat-form-field *ngIf="form.controls.loading_address as control">
          <mat-label>Loading Address</mat-label>
          <input matInput [formControl]="control" />
        </mat-form-field>
        <button color="primary" mat-icon-button type="button">
          <mat-icon fontIcon="file_copy"></mat-icon>
        </button>
      </div>

      <div class="row">
        <mat-form-field *ngIf="form.controls.unloading_address as control">
          <mat-label>Unloading Address</mat-label>
          <input matInput [formControl]="control" />
        </mat-form-field>
        <button color="primary" mat-icon-button type="button">
          <mat-icon fontIcon="file_copy"></mat-icon>
        </button>
      </div>
      <mat-grid-list cols="1" rowHeight="60px">
        <mat-grid-tile>
          <app-file-upload
            label="Attach Order"
            [uploadedFileName]="item()?.order_file?.name"
            (files$)="onFileChange('order_file', $event)"
          ></app-file-upload>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-file-upload
            label="Attach CMR"
            [uploadedFileName]="item()?.cmr_file?.name"
            (files$)="onFileChange('cmr_file', $event)"
          ></app-file-upload>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-file-upload
            label="Attach Pallets"
            [uploadedFileName]="item()?.pallets_file?.name"
            (files$)="onFileChange('pallets_file', $event)"
            [disabled]="true"
          ></app-file-upload>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-file-upload
            label="Attach Invoice"
            [uploadedFileName]="item()?.invoice_file?.name"
            (files$)="onFileChange('invoice_file', $event)"
          ></app-file-upload>
        </mat-grid-tile>
      </mat-grid-list>
      <button
        type="button"
        mat-flat-button
        color="accent"
        class="download-docs"
        (click)="downloadAll()"
      >
        Download All Available Docs
      </button>
    </div>
    <div class="right-block">
      <form [formGroup]="LoadingPointsForm" (ngSubmit)="loadingPointsSubmit()">
        <mat-form-field *ngIf="LoadingPointsForm.controls.type as control">
          <mat-label>Type</mat-label>
          <mat-select [formControl]="control">
            <mat-option *ngFor="let type of loadingPointsTypes" [value]="type"> {{ type }} </mat-option>
          </mat-select>
          <mat-error *ngIf="control.hasError('required')"
            >Type is required
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="LoadingPointsForm.controls.nation as control">
          <mat-label>Nation</mat-label>
          <mat-select [formControl]="control">
            <mat-option *ngFor="let code of countries" [value]="code">
              {{ code }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="control.hasError('required')"
            >Nation is required
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="LoadingPointsForm.controls.zip_code as control">
          <mat-label>Zip Code</mat-label>
          <input matInput [formControl]="control" />
          <mat-error *ngIf="control.hasError('required')"
            >Zip Code is required
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="LoadingPointsForm.controls.city as control">
          <mat-label>City</mat-label>
          <input matInput [formControl]="control" />
          <mat-error *ngIf="control.hasError('required')"
            >City is required
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="LoadingPointsForm.controls.address as control">
          <mat-label>Address</mat-label>
          <input matInput [formControl]="control" />
          <mat-error *ngIf="control.hasError('required')"
            >Address is required
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="LoadingPointsForm.controls.company_name as control">
          <mat-label>Company Name</mat-label>
          <input matInput [formControl]="control" />
          <mat-error *ngIf="control.hasError('required')"
            >Company Name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="LoadingPointsForm.controls.date as control">
          <mat-label>Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker1"
            [formControl]="control"
            readonly
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field *ngIf="LoadingPointsForm.controls.trailer_type as control">
          <mat-label>Trailer Type</mat-label>
          <mat-select [formControl]="control">
            <mat-option *ngFor="let trailerType of loadingPointsTrailerTypes" [value]="trailerType"> {{ trailerType }} </mat-option>
          </mat-select>
          <mat-error *ngIf="control.hasError('required')"
            >Trailer Type is required
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="LoadingPointsForm.controls.adr as control">
          <mat-label>ADR</mat-label>
          <mat-select [formControl]="control">
            <mat-option *ngFor="let status of loadingPointsStatus" [value]="LoadingPointsStatus[status]"> {{ status }} </mat-option>
          </mat-select>
          <mat-error *ngIf="control.hasError('required')"
            >ADR is required
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="LoadingPointsForm.controls.pallets as control">
          <mat-label>Pallets</mat-label>
          <mat-select [formControl]="control">
            <mat-option *ngFor="let status of loadingPointsStatus" [value]="LoadingPointsStatus[status]"> {{ status }} </mat-option>
          </mat-select>
          <mat-error *ngIf="control.hasError('required')"
            >Pallets is required
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="LoadingPointsForm.controls.trailer_type.value === 'Frigo' && LoadingPointsForm.controls.temperature as control">
          <mat-label>Temperature</mat-label>
          <mat-select [formControl]="control">
            <mat-option *ngFor="let status of loadingPointsStatus" [value]="LoadingPointsStatus[status]"> {{ status }} </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="LoadingPointsForm.controls.temperature.value && LoadingPointsForm.controls.temperature_value as control">
          <mat-label>Temperature value</mat-label>
          <input type="number" step="0.01" matInput [formControl]="control">
        </mat-form-field>
        <mat-form-field *ngIf="LoadingPointsForm.controls.weight as control">
          <mat-label>Weight</mat-label>
          <input matInput [formControl]="control" />
          <mat-error *ngIf="control.hasError('required')"
            >NetWeight is required
          </mat-error>
        </mat-form-field>
        <div class="row">
          <mat-form-field *ngIf="LoadingPointsForm.controls.comments as control">
            <mat-label>Comments/Notes</mat-label>
            <textarea matInput [formControl]="control"></textarea>
          </mat-form-field>
        </div>
        <div class="row">
          <button
            type="submit"
            mat-flat-button
            color="primary"
            [disabled]="loading"
            *ngIf="!edit"
          >
            Add
          </button>
          <button
            type="button"
            mat-flat-button
            color="primary"
            [disabled]="loading"
            *ngIf="edit"
            (click)="sendEditLoadingPoint()"
          >
            Save
          </button>
        </div>
      </form>
      <div class="row">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let element">
              {{ element.type }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Nation">
            <th mat-header-cell *matHeaderCellDef>Nation</th>
            <td mat-cell *matCellDef="let element">
              {{ element.nation }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Zip Code">
            <th mat-header-cell *matHeaderCellDef>Zip Code</th>
            <td mat-cell *matCellDef="let element">
              {{ element.zip_code }}
            </td>
          </ng-container>
          <ng-container matColumnDef="City">
            <th mat-header-cell *matHeaderCellDef>City</th>
            <td mat-cell *matCellDef="let element">
              {{ element.city }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Weight">
            <th mat-header-cell *matHeaderCellDef>Weight</th>
            <td mat-cell *matCellDef="let element">
              {{ element.weight }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">
              {{ element.date | date: "MM/dd/yyyy" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button
                type="button"
                mat-icon-button
                (click)="editLoadingPoint(element)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button
                type="button"
                mat-icon-button
                (click)="deleteLoadingPoint(element)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>
</app-edit-form>
