:host {
  .order-edit-form {
    display: grid;
    grid: {
      template-columns: 600px auto;
      column-gap: 48px;
    }

    .left-block {
      height: fit-content;
      display: grid;
      grid: {
        template-columns: 100%;
      };
    }

    .right-block {
      height: fit-content;
      display: grid;
      max-width: 900px;
      grid: {
        template-columns: 100%;
      };
      gap: 20px;
    }
  }
  .row {
    display: grid;
    grid: {
      template-columns: 1fr auto;
      column-gap: 12px;
    }

    & > .mdc-icon-button {
      margin-top: 4px;
    }

    & > .mdc-button {
      margin-top: 10px;
    }

    &--equal {
      grid-template-columns: 1fr 1fr;
    }
  }

  .download-docs {
    margin-top: 32px;
  }
}
