:host {
  .row {
    display: grid;
    grid: {
      template-columns: 1fr auto;
      column-gap: 12px;
    }

    & > .mdc-icon-button {
      margin-top: 4px;
    }

    & > .mdc-button {
      margin-top: 10px;
    }

    &--equal {
      grid-template-columns: 1fr 1fr;
    }

    &--stroke {
      column-gap: 0;
    }
  }

  .download-docs {
    margin-top: 32px;
  }

  app-file-upload {
    width: 100%;
  }
}
.loading_points {
  height: fit-content;
  display: grid;
  grid: {
    template-columns: 100%;
  };
  gap: 20px;

  .TimePicker {
    display: inline;
    margin: 20px 10px;
  }

  .TimePicker > mat-form-field {
    width: 75px;
  }


  form > mat-form-field,
  form > mat-checkbox{
    width: 150px;
    margin: 20px 10px;
    &.selector {
      width: 100px;
    }
  }
  .row {
    margin: auto 10px;
  }
}
